# Python Bytecode & Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebook checkpoints
*.ipynb_checkpoints/

# Logs & Temporary Files
*.log
*.tmp
*.swp
*.swo

# Editor & OS-Specific Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.bak
*.orig

# virtualenv
.venv
.env

# unittest cache
.pytest_cache/

# Latex compilation files
*.aux
*.bbl
*.blg
*.out

# pyenv
.python-version

# uv
uv.lock

# Installation products
*.egg-info/